.page {
    height: 93vh;
    width: 94vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color: #ffbf00;
    background-color: rgba(255, 255, 255, 0.165);
    font-size: 3em;
}