.pers {
<<<<<<< HEAD
  color: blue;
  font-family: Arial;
  text-align: center;
  font-size: 80px;
}
.orangepers {
=======
>>>>>>> dfe22a11ddffdbe389b2ea2a679320065adf5913
  color: chocolate;
  font-family: Arial;
  text-align: center;
  font-size: 80px;
}
p,
<<<<<<< HEAD
ul,
h2,
ol {
=======
ul {
>>>>>>> dfe22a11ddffdbe389b2ea2a679320065adf5913
  font-weight: bold;
}
img {
  float: right;
}
